In [2]:
import pandas as pd

In [4]:
data = {'Nombre': ['Ana', 'Luis', 'Carlos'], 'Edad': [23, 45, 31]}

In [6]:
df = pd.DataFrame(data)

In [8]:
print(df)

   Nombre  Edad
0     Ana    23
1    Luis    45
2  Carlos    31

In [12]:
df = pd.read_csv('grades.csv')

In [14]:
print(df.head())

   exam  student_id  grade
0     1           1   86.0
1     1           2   65.0
2     1           3   70.0
3     1           4   98.0
4     1           5   89.0

In [24]:
filtro = df[df['grade'] < 60]

print(filtro)

In [28]:
grupos = df.groupby('grade').count()
print(grupos)

       exam  student_id
grade
56.0      1           1
60.0      1           1
65.0      1           1
70.0      1           1
72.0      1           1
73.0      1           1
75.0      3           3
78.0      2           2
79.0      1           1
80.0      3           3
81.0      2           2
82.0      2           2
83.0      1           1
84.0      1           1
85.0      1           1
86.0      2           2
87.0      3           3
88.0      1           1
89.0      2           2
90.0      3           3
91.0      1           1
92.0      1           1
93.0      1           1
94.0      1           1
95.0      2           2
96.0      2           2
97.0      1           1
98.0      2           2
100.0     1           1

In [30]:
df['NuevaColumna'] = df['exam'] * 2
print(df)

    exam  student_id  grade  NuevaColumna
0      1           1   86.0             2
1      1           2   65.0             2
2      1           3   70.0             2
3      1           4   98.0             2
4      1           5   89.0             2
5      1           6    NaN             2
6      1           7   75.0             2
7      1           8   56.0             2
8      1           9   90.0             2
9      1          10   81.0             2
10     2           1   79.0             4
11     2           2   60.0             4
12     2           3   78.0             4
13     2           4   75.0             4
14     2           5    NaN             4
15     2           6   80.0             4
16     2           7   87.0             4
17     2           8   82.0             4
18     2           9   95.0             4
19     2          10   96.0             4
20     3           1   78.0             6
21     3           2   80.0             6
22     3           3   87.0             6
23     3           4    NaN             6
24     3           5   89.0             6
25     3           6   90.0             6
26     3           7  100.0             6
27     3           8   72.0             6
28     3           9   73.0             6
29     3          10   75.0             6
30     4           1    NaN             8
31     4           2   80.0             8
32     4           3   81.0             8
33     4           4   82.0             8
34     4           5   83.0             8
35     4           6   84.0             8
36     4           7   85.0             8
37     4           8   86.0             8
38     4           9   87.0             8
39     4          10   88.0             8
40     5           1   90.0            10
41     5           2    NaN            10
42     5           3   91.0            10
43     5           4   92.0            10
44     5           5   93.0            10
45     5           6   94.0            10
46     5           7   95.0            10
47     5           8   96.0            10
48     5           9   97.0            10
49     5          10   98.0            10

In [32]:
df = df.fillna(0)
print(df)

    exam  student_id  grade  NuevaColumna
0      1           1   86.0             2
1      1           2   65.0             2
2      1           3   70.0             2
3      1           4   98.0             2
4      1           5   89.0             2
5      1           6    0.0             2
6      1           7   75.0             2
7      1           8   56.0             2
8      1           9   90.0             2
9      1          10   81.0             2
10     2           1   79.0             4
11     2           2   60.0             4
12     2           3   78.0             4
13     2           4   75.0             4
14     2           5    0.0             4
15     2           6   80.0             4
16     2           7   87.0             4
17     2           8   82.0             4
18     2           9   95.0             4
19     2          10   96.0             4
20     3           1   78.0             6
21     3           2   80.0             6
22     3           3   87.0             6
23     3           4    0.0             6
24     3           5   89.0             6
25     3           6   90.0             6
26     3           7  100.0             6
27     3           8   72.0             6
28     3           9   73.0             6
29     3          10   75.0             6
30     4           1    0.0             8
31     4           2   80.0             8
32     4           3   81.0             8
33     4           4   82.0             8
34     4           5   83.0             8
35     4           6   84.0             8
36     4           7   85.0             8
37     4           8   86.0             8
38     4           9   87.0             8
39     4          10   88.0             8
40     5           1   90.0            10
41     5           2    0.0            10
42     5           3   91.0            10
43     5           4   92.0            10
44     5           5   93.0            10
45     5           6   94.0            10
46     5           7   95.0            10
47     5           8   96.0            10
48     5           9   97.0            10
49     5          10   98.0            10